<div class="container">
<div class="col col-md-4 col-md-offset-4">
<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment, class: "form-control" %>
  </div>
    <div class="field">
      <%= f.label :status %><br>
      <select class="form-control" name="order[status]">
        <option value="0" <%= "selected" if @order.status.nil? %> >New</option>
        <option value="1" <%= "selected" if @order.status == 1 %>>Delivery service</option>
        <option value="1" <%= "selected" if @order.status == 2 %>>Processed</option>
      </select>
    </div>
  <div class="actions">
    <%= f.submit class: "btn btn-block btn-primary" %>
  </div>
<% end %>
</div>
</div>