<p id="notice"><%= notice %></p>

<h1>Listing Ridings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>First</th>
      <th>Second</th>
      <th>Winner</th>
      <th>Visible</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ridings.each do |riding| %>
      <tr>
        <td><%= riding.name %></td>
        <td><%= riding.first %></td>
        <td><%= riding.second %></td>
        <td><%= riding.winner %></td>
        <td><%= riding.visible %></td>
        <td><%= riding.active %></td>
        <td><%= link_to 'Show', riding %></td>
        <td><%= link_to 'Edit', edit_riding_path(riding) %></td>
        <td><%= link_to 'Destroy', riding, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Riding', new_riding_path %>
