<p id="notice"><%= notice %></p>

<h1>Listing Reviews</h1>

<div class="table">
<table class="table table-stripped">
  <thead>
    <tr>
      <th><h4>Name</h4></th>
      <th><h4>Email</h4></th>
      <th><h4>Text</h4></th>
      <th><h4>Created at</h4></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.name %></td>
        <td><%= review.email %></td>
        <td><%= review.text %></td>
        <td><%= review.created_at %></td>
        <td><%= link_to 'Show', review, class: "btn btn-xs btn-default" %></td>
        <td><%= link_to 'Edit', edit_review_path(review), class: "btn btn-xs btn-warning" %></td>
        <td><%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Review', new_review_path, class: "btn btn-md btn-primary"  %>
