<p id="notice"><%= notice %></p>
<div class="text-center">
<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Img:</strong>
  <%= @product.img %>
</p>

<p>
  <!--<strong>Desc short:</strong>-->
  <%= @product.desc_short %>
</p>

<p>
  <!--<strong>Desc long:</strong>-->
  <%= raw @product.desc_long %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Category id:</strong>
  <%= @product.category_id %>
</p>

<%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-md btn-warning' %>
<%= link_to 'Back', products_path, class: 'btn btn-md btn-default' %>

</div>

<!--if bge.logic.KX_INPUT_ACTIVE == keyboard.events[bge.events.AKEY]:-->
        <!--player.worldPosition += cam.getScreenVect(0.03, -0.03)-->
<!--if bge.logic.KX_INPUT_ACTIVE == keyboard.events[bge.events.DKEY]:-->
    <!--player.worldPosition += cam.getScreenVect(-0.03, 0.03)-->