<div class="container">
<div class="col col-md-4 col-md-offset-4">
<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :short_text %><br>
    <%= f.text_area :short_text, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :long_text %><br>
    <%= f.text_area :long_text, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :img %><br>
    <%= f.text_field :img, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-block btn-primary" %>
  </div>
<% end %>
</div>
</div>