<title>BETS</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<%= javascript_include_tag 'application', 'data-turbolinks-track' =>  true %>
<%= javascript_include_tag 'main' %>
<%= stylesheet_link_tag 'style' %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


<div class="owner-info-bar">
      <div class="col-md-4 owner-info text-center " align="center" id="usr-name">Hello, <%= @user.username %> </div>
      <div class="col-md-4 owner-info text-left " align="center">
           <a href="/logout">Back</a>
      </div>
      <div class="col-md-3 owner-info text-center" id="balance-bar" align="center">Balance : <%= @user.balance %> </div>
</div>
<div class="jumbotron text-center">
    <h2 class="hello">My Bet Page</h2>
</div>

<div class="user-fail col-md-12 text-center">
    <h3>
        USER IDIOT!
    </h3>
</div>


<table class="table table-bordered text-center">
    <tr class="bet-table-head">
        <td class="text-center">Ride ID</td>
        <td class="text-center">HORSES</td>
        <td class="text-center">1st CEFF</td>
        <td class="text-center">2nd CEFF</td>
        <td class="text-center">Bet</td>
    </tr>
        <% @rides.each do |ride| %>
          <tr>
              <td>
                  <a class="ride"> <%= ride.id %> </a>
              </td>
              <td>
                  <a style="padding: 10px"><%= ride.name %></a>
              </td>
              <td>
                  <a class="chance" id="chance-one"> <%= ride.first %>  </a>
              </td>
              <td>
                  <a class="chance" id="chance-two"> <%= ride.second %> </a>
              </td>
              <td>
              <div class="form-group form-horizontal">
                      <label for="usr" class="control-label">Count: </label>
                      <input type="text" class="form-horizontal clearable" id="usr">
              </div>
              </td>
              <td>
                  <button class="btn btn-primary btn-sm" id="bet-btn" onclick="makeBet()">Bet</button>
              </td>
            <% end %>
          </tr>

          <script>

              var currentValue = 1, summ = 0;


              var betClientValidation = function (value) {
                  const currentBalance = parseInt($("#balance-bar").html().replace( /^\D+/g, ''));
                  return currentBalance > value;
              };

              var makeBet = function() {

                  var arr = [];

                  $("table").find('.clearable').each(function () {
                      if($(this).val() > 0) {
                          $this = $(this);
                          summ += parseInt($this.val());
                      }
                  });

                  $("table").find('.ride').each(function () {
                      $this = $(this);
                      if ($this.parents('tr').find('#chance-one').hasClass('active')) {
                          var json = JSON.stringify({
                              ride_id : parseInt($this[0].innerText),
                              bet_winner : 1
                          });
                          arr.push(json);
                      }
                      else if ($this.parents('tr').find('#chance-two').hasClass('active')){
                          var json = JSON.stringify({
                              ride_id : parseInt($this[0].innerText),
                              bet_winner : 2
                          });
                          arr.push(json);
                      }
                  });


                  if (betClientValidation(summ) != true) {
                      $('.user-fail').show();
                      $("table").find('.clearable').each(function () {
                      $(this).val('');
                  });
                      return
                  }
                  else $(".user-fail").hide();

                  summ = betClientValidation(summ) ? summ : 0;
                  const betValue = summ * currentValue;
                  var username = $('#usr-name').html();
                  username = username.split(", ")[1];

                  console.log(arr);

                  var json = JSON.stringify({
                          expressValue: summ,
                          potentialWin : betValue,
                          ridesIdArray : arr,
                          user_name : username
                      }
                  );

                  $.ajax({
                          "type": "POST",
                          "dataType": "json",
                          "url": "/makebet",
                          "data": json,
                          "success": function(result) {
                              console.log(result);
                          }
                  });

                  summ = 0;
                  currentValue = 1;

              };

              $('.chance').click(function () {
                  $this = $(this);
                  console.log("here")
                  if ($this.hasClass('active')) {
                      console.log("here-1")
                      $this.removeClass('active');
                      var _str = $this.html().replace(",", ".");
                      console.log(_str)
                      currentValue /= parseFloat(_str);
                  }

                  else if ($this.parents('tr').find('.chance').hasClass('active')) {
                      console.log("here-2")
                      $this.parents('tr').find('.chance').removeClass('active');
                      $this.addClass('active');
                      var $neighbour = 0;
                      $this.parents('tr').find('.chance').each(function () {
                          if (!$(this).hasClass('active')) {
                              var str = $neighbour.replace(",", ".");
                              $neighbour = parseFloat(str);
                          }
                      });
                      currentValue /= $neighbour;
                      currentValue *= parseFloat($this.html().replace(',', '.'));
                  }
                  else {
                      console.log("here-3")
                      $this.addClass('active');
                      var str_ = $this.html().replace(",", ".");
                      console.log(str_);
                      currentValue *= parseFloat(str_);
                      console.log(currentValue);
                  }

              });

            </script>
</table>


