<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<div class="table">
<table class="table table-striped">
  <thead>
    <tr>
      <th><h4>Name</h4></th>
      <th><h4>Email</h4></th>
      <th><h4>Address</h4></th>
      <th><h4>Role</h4></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.address %></td>
        <td><%= user.role==0?"User":"Admin" %></td>
        <td><%= link_to 'Show', user, class: "btn btn-xs btn-default" %></td>
        <td><%= link_to 'Edit', edit_user_path(user), class: "btn btn-xs btn-warning" %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New User', new_user_path, class: "btn btn-md btn-primary" %>
