<p id="notice"><%= notice %></p>

<h1>Listing Bets</h1>

<table>
  <thead>
    <tr>
      <th>Value</th>
      <th>Potentialwin</th>
      <th>Sucessful</th>
      <th>Active</th>
      <th>Client</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bets.each do |bet| %>
      <tr>
        <td><%= bet.value %></td>
        <td><%= bet.potentialWin %></td>
        <td><%= bet.sucessful %></td>
        <td><%= bet.active %></td>
        <td><%= bet.client %></td>
        <td><%= link_to 'Show', bet %></td>
        <td><%= link_to 'Edit', edit_bet_path(bet) %></td>
        <td><%= link_to 'Destroy', bet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bet', new_bet_path %>
